body {
  font-size: 16px;
  color: #fff;
  background: url('../images/rzepak_tlo.png') no-repeat;
  /*background-color: #61122f;*/

  background-position: top center;
  font-family: 'Oxygen', sans-serif;
}

.bg_container {
  background-color: #61122f
}

.navbar-header {
  margin-left: 15px;
}

.navbar-brand {
  float: left;
  height: 50px;
  padding-top: 15px;
  padding: 15px 15px 15px 15px;
  font-size: 11px;
  line-height: 20px;
}



/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}


#logo-img {
  background: url('../images/Logokosciol4_big.png') no-repeat;
  width: 150px;
  height: 204px;
  margin: 5px 15px 10px 0;
}



.navbar-brand h1 { 
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .95;
  text-align: center;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-brand p { 
  color: #000;
  text-transform: uppercase;
  font-size: .7em;
  margin-top: 15px;
}
.navbar-brand p span { 
  vertical-align: middle;
}



footer {
      background-color: #61122f;
      padding: 25px;
    }

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  min-height: 200px;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 1px solid #61122f; 
}

.navbar-header button.navbar-toggle{
  clear: both;
}


span {
  margin-right: 15px;
}



/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {
  /* Header */
  #logo-img {
    background: url('../images/Logokosciol4_medium.png') no-repeat;
    width: 100px;
    height: 133px;
    margin: 5px 5px 5px 0;
  }
  /* End Header */
}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {


}

/********** Extra small devices only **********/
@media (max-width: 767px) {